body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  
}


#lives {
  position: absolute;
  top: 20px;
  left:20px;
  padding: 10px;
  color: greenyellow;
  font-weight:bold;
  font-size: 24px;
}

i {
  color: tomato;
}

#game-board {
  background-image: url(../assets/espacio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-button {
  position: absolute;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -50%);
  background-color: rgb(244, 213, 71);
  color:  rgb( 9, 70, 127);
  width: 100px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid rgb( 9, 70, 127);
  cursor: pointer;
}



#countdown {
  position: absolute;
  color: greenyellow;
  right: 20px;
  top: 20px;
  font-weight: bold;
  background-color: none;
  padding: 10px;
  font-size: 24px;
 
}


#timer {
  color: tomato
}


#score {
  position: absolute;
  top: 20px;
  left: 50%;
  color: greenyellow;
  font-weight: bold;
  background-color: none;
  padding: 10px;
  font-size: 24px;
  
 
}


#points {
  color: tomato
}


#play-music-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #021c5f;
  padding: 10px; 
  border: none; 
  border-radius: 50%; 
  cursor: pointer; 
  top: 260px; 
  left: 10px; 

}

#explosion {
  position: absolute;
  display: none;
  background: url('../assets/explosion.gif');
  width: 200px;
  height: 200px;
  background-position: center;
  border-radius: 50%;

}

